body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: linear-gradient(105deg,rgb(34, 81, 209), #b6387d);

}


#board {
    height: 540px;
    width: 630px;
    border: 10px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(175deg,rgb(100, 178, 178), #8c4585);

}

.tile {
    height: 71px;
    width: 71px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid blueviolet;
}

.red-piece {
    background-color: red;
}
.green-piece {
    background-color: green;
}
